YC_CLOUD_ID=<your_cloud_id>
YC_FOLDER_ID=<your_folder_id>
YC_SA_KEY=<json_service_account_key>

TF_VAR_cloud_id=<your_cloud_id>
TF_VAR_folder_id=<your_folder_id>
TF_VAR_registry_id=crpXXXXXXXXXXXX
TF_VAR_bucket_name=<existing_bucket_name>
TF_VAR_runtime_sa_id=ajeXXXXXXXXXXXX
TF_VAR_lockbox_secret_id=e6qXXXXXXXXXXXX
TF_VAR_image_name=backend
TF_VAR_image_tag=latest
